.el-menu-vertical-demo {
    height: 100%;
}
.div1 {
    height: 400px;
    margin: 8px;
}
.windowBox{
    height: 400px;
    width: 100%;
}
.el-row {
    margin-bottom: 4px;
    margin-top: 4px;
}
.el-row-height {
    height: 4px;
}

.el-col {
    margin-bottom: 2px;
    margin-top: 2px;
}
.el-button {
}